<ul class="nav nav-pills nav-details">
    <li class="nav-item first-li detailed-header" id="profiledetaildli">
        <a class="nav-link" href="/case/details/@ViewBag.CaseId"><i class="fa fa-user"></i> Profile</a>
    </li>
    <li class="nav-item detailed-header" id="relatedcaseli">
        <a class="nav-link" href="/case/relatedcase/@ViewBag.CaseId"><i class="fa fa-link"></i> Related Cases</a>
    </li>
    <li class="nav-item detailed-header">
        <a class="nav-link" href="#"><i class="fa fa-cloud-upload"></i> Documents</a>
    </li>
    <li class="nav-item detailed-header">
        <a class="nav-link " href="#"><i class="fa fa-file"></i> Forms</a>
    </li>
    <li class="nav-item detailed-header">
        <a class="nav-link " href="#"><i class="fa fa-file-text"></i> Notes</a>
    </li>
    <li class="nav-item detailed-header">
        <a class="nav-link " href="#"><i class="fa fa-bell"></i> Tasks</a>
    </li>
    <li class="nav-item last-li detailed-header">
        <a class="nav-link " href="#"><i class="fa fa-money"></i> Accounting</a>
    </li>
</ul>
