@model IEnumerable<Easycase.Model.Case.BLCaseStatus>
<table class="table" id="caseStatusTable">
    <thead class="thead-light">
        <tr>
            @*<th>
                    <label class="customcheckbox m-b-20">
                        <input type="checkbox" id="mainCheckbox" />
                        <span class="checkmark"></span>
                    </label>
                </th>*@
            <th scope="col">Name</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody class="customtable">
        @foreach (var item in Model)
        {
            <tr id="tr@(item.ID)">
                @*<th>
                        <label class="customcheckbox">
                            <input type="checkbox" class="listCheckbox" />
                            <span class="checkmark"></span>
                        </label>
                    </th>*@
                <td>@(item.Name)</td>
                <td>
                    <button type="button" onclick="editcaseStatus(@item.ID,'@item.Name')" class="btn btn-cyan btn-sm">Edit</button>
                    <button type="button" onclick="confirmDelete(@item.ID)" class="btn btn-danger btn-sm">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
