@model Easycase.Model.Setting.BLClientAccount

@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_LayoutSetting.cshtml";
}

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Client Account(s)</h4>
            <div class="ml-auto text-right">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Library</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="card">
        <div class="card-body wizard-content">
            <h4 class="card-title"></h4>
            <h6 class="card-subtitle"></h6>
            @using (Html.BeginForm("Account", "Setting", FormMethod.Post, new { @id = "example-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "form-horizontal" })
                <div class="form-group row">
                    <div class="col-sm-12" id="clientAccountDiv">
                        @Html.Partial("_partialAccount",Model)
                    </div>
                </div>
                <div class="border-top row">
                    <div class="row position-right">
                        <input type="button" value="Save" onclick="Save()" class="btn btn-info" style="margin-left:10px" />
                    </div>
                </div>

            }
        </div>

    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $(".navigationli").removeClass("selected");
            $("#clientaccountli").addClass("selected");
        });
        function AddRow() {
            var totalTr = $("#bankDetails tbody tr").length;
            var totalTrplus1 = totalTr + 1;
            $("#bankDetails tbody").append('<tr class="education-list-item-' + totalTrplus1 + '" data-row-id="' + totalTr + '">' +
                '<td><input type="text" class="form-control data-bank"></td>' +
                '<td><input type="text" class="form-control data-currency"></td>' +
                '<td class="remove-control" style="width:20px">' +
                '<i class="fa fa-minus-circle" style="color:red" onclick="RemoveRow(this)" aria-hidden="true"></i>' +
                '</td>' +
                '</tr>');
        }
        function RemoveRow(currentrow)
        {
            $(currentrow).parent().parent().remove();
        }
        function GetAccount() {
            $.ajax({
                url: "/Setting/PartialClientAccount",
                type: "POST",
                success: function (response) {
                    $("#clientAccountDiv").html(response);
                },
                error: function (er) {
                    toastr.error(er, 'Error');
                }
            });
        }
        function Save() {
            var obj = new Object();
            var dataBank = [];
            var dataCurrency = [];
            $("#bankDetails tbody tr").each(function (index, value) {
                if ($(value).find(".data-bank").val() != "") {
                    dataBank.push($(value).find(".data-bank").val());
                    dataCurrency.push($(value).find(".data-currency").val());
                }
            });
            obj.ID=@Model.ID;
            obj.BankNameArray = dataBank;
            obj.CurrencyArray = dataCurrency;
            //

            $.ajax({
                url: "/Setting/Account",
                type: "POST",
                data: obj,
                success: function (response) {
                    toastr.success(response, 'Success');
                    GetAccount();
                },
                error: function (er) {
                    toastr.error(er, 'Error');
                }
            });
        }
    </script>
}

